# Pulling Tweets from WHO

In [61]:
# Import libbraries
import os, sys, subprocess
import json
import pandas as pd
import numpy as np
from langdetect import detect
import pickle

pd.set_option('display.max_colwidth', -1)

pd.set_option('display.max_rows', 1000)
#pd.set_option('display.max_columns', 500)

In [62]:
# load project config

terminal_call = ! git rev-parse --show-toplevel
repo_path=terminal_call[0]
project_config_path = os.path.join(repo_path,'project_config.json')

with open(project_config_path,'r') as fp: 
    project_config = json.load(fp)


project_config

{'project_module_relative_path': 'src'}

In [63]:
# import custom scraper module

module_path = os.path.join(repo_path,project_config['project_module_relative_path'])
sys.path.append(module_path)

import scraper
from scraper import tweet_scraper

from importlib import reload

In [88]:
reload(tweet_scraper)

## Pull Tweets for a year

In [113]:
# get tweets from for a year from this date
df = tweet_scraper.query_tweets('global common good', '2019-06-01', '2020-06-01')

In [114]:
# rename columns
df.rename(columns={0:"date",
          1:"text",
          2: "user"}, inplace = True)

In [115]:
# set column types
df['text'] = df['text'].astype(str)
df['date'] = pd.to_datetime(df['date'])
df['user'] = df['user'].astype(str)

In [124]:
# quick sort on most common users
df.groupby("user").count().sort_values("text", ascending=False).head(20)

                 date  text
user
benavides_marta  4     4
marcusmescher    3     3
rini_rants       2     2
ESG_Project      2     2
friel_raymond    2     2
DevonDilly       2     2
mauriziotinnire  2     2
CasinaPioIV      2     2
SimamoraDupito   2     2
SistersofMercy   2     2
SolidarityRev    2     2
DrClarkM1        2     2
citlaliayala     2     2
IADHAIHR         2     2
MnStand          2     2
finn_harvor      1     1
henrychanesq     1     1
icecreamyfun     1     1
iioannoulbs      1     1
jan_morovic      1     1

In [106]:
df.shape

(1171, 3)

## Pickle for later use

In [29]:
# pickle.dump(df, open("../data/gpg.pkl", "wb"))

## Clean Tweets

In [23]:
# Reload package when I make updates to function
# reload(tweet_scraper)

In [117]:
# Clean tweet column
df = tweet_scraper.clean_tweets(df, 'text')

# Write to CSV

In [120]:
df = df[df["text"].str.contains("global common good")]

In [121]:
# write to csv
df.to_csv("../data/gcg.csv", index = False)

In [123]:
df[df["user"]=="WorldBank"]

Empty DataFrame
Columns: [date, text, user]
Index: []